<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Strata Issue Tracker | Add</title>
</head>
<body>
  <div>
    <h2>Strata Issue Tracker</h2>
		<h3>Raise New Issue</h3>
  </div>
  <p>
    Issue Number
    {% for key, value in results_dict.items() %}
    {{ key + 1 }}
    {% endfor %}
    <form method="POST" action="/add">
      Description
      <input type="text" name="name">
      <p>
        <a href="{{ url_for('index') }}">Back</a>
        <input type="submit" value="Save">
      </p>
    </form>
  </p>
</body>
</html>
