<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Strata Issue Tracker | Edit</title>
</head>
<body>
  <div>
    <h2>Strata Issue Tracker</h2>
		<h3>Edit Issue</h3>
  </div>
  <p>
    Issue Number
    {% for key, value in results_dict.items() %}
    {{key}}    
    <form method="POST" action="{{ url_for('edit',key=key) }}">
    <input type="text" name="name" value="{{value}}">
    <p>
      <a href="{{ url_for('index') }}">Back</a>
      <input type="submit" value="Save">
      <a href="{{ url_for('delete', key=key) }}">Delete</a>
    </p>
    </form>
    {% endfor %}
  </p>
</body>
</html>
