<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Strata Issue Tracker | Home</title>
</head>
<body>
    <p>
        <h2>Strata Issue Tracker</h2>
        <table>
            <tr>
                <td><a href="{{ url_for('add') }}">Raise New Issue</a></td>
                <td><a href="{{ url_for('logout') }}">Logout</a></td>
            </tr>
        </table>

    </p>
    <p>
        <table>
            <th>
                Issue:
            </th>
            <th>
                Description:
            </th>
            {% for key, value in results_dict.items() %}
            <tr>
                <td>{{key}}</td>
                <td>{{value}}</td>
                <td><a href="{{ url_for('edit', key=key) }}">Edit</a></td>
            </tr>
            {% endfor %}
        </table>
    </p>
</body>
</html>
