<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <div>
        <h2>Strata Issue Tracker</h2>
        <h3>Login</h3>
    </div>
    <form method="POST" action="{{ url_for('login') }}">
        <table>
          <tr>
            <td><label for="inputName">Email: </label></td>
            <td><input type="text" name="email" id="inputEmail" placeholder="Email"</td>
          </tr>
          <tr>
            <td><label for="inputPassword">Password: </label></td>
            <td><input type="password" name="password" id="inputPassword" placeholder="Password"></td>
          </tr>
          <tr>
            <td colspan="2"><button type="submit">Login</button></td>
          </tr>
          <tr>
            <td colspan="2">Need to create an account? <a href="{{ url_for('signup')}}">Signup</a></td>
          </tr>          
        </table>
      </form>
</body>
</html>
