<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test</title>
</head>
<body>
    {% if user %}
    <h2>You are logged in!</h2>
    <a href="{ ( url_for('logout') ) }">Logout</a>
    {% endif %}
    {% if not user %}
    <h2>You are not logged in!</h2>
    {% endif %}
</body>
</html>